quizfreely.org {
        encode zstd gzip
        reverse_proxy localhost:8080

        handle_path /api/* {
            reverse_proxy localhost:8008
        }
        handle_path /realtime/* {
            reverse_proxy localhost:8000
        }

        handle /docs* {
            root * /srv/quizfreely-docs/www
            file_server
        }

        @immutable {
                path /immutable/*
                path /_app/immutable/*
        }
        handle @immutable {
                root * /srv/quizfreely-web/www
                file_server
                header {
                        Cache-Control "public, max-age=31536000, immutable"
                }
        }
        handle /_app/* {
                root * /srv/quizfreely-web/www
                file_server
        }

        redir /discord https://discord.gg/6qQrybf6kG
}
www.quizfreely.org, quizfreely.com, www.quizfreely.com {
        redir https://quizfreely.org{uri} permanent
}
