PORT=8008

# for production: HOST=localhost
# for development (IPv6 (and IPv4 "depending on OS")): HOST="::"
# for development (IPv4): HOST=0.0.0.0
HOST=0.0.0.0

# fatal, error, warn, info, debug, or trace
LOG_LEVEL=warn

# for production: LOG_PRETTY=false
# for development: LOG_PRETTY=true
LOG_PRETTY=true

# replace PASSWORD_GOES_HERE and check database name
POSTGRES_USER=quizfreely_api
POSTGRES_PASSWORD=PASSWORD_GOES_HERE
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB_NAME=quizfreely_db

# for production, we use POSTGRES_PASSWORD_FILE= with compose-file/container secrets
# POSTGRES_PASSWORD_FILE replaces POSTGRES_PASSWORD, comment out or delete POSTGRES_PASSWORD when using POSTGRES_PASSWORD_FILE
# and comment out or delete POSTGRES_PASSWORD_FILE when using POSTGRES_PASSWORD
# POSTGRES_PASSWORD_FILE=

# for production: CORS_ORIGIN=https://quizfreely.org
# for development: CORS_ORIGIN=http://localhost:8080
CORS_ORIGIN=http://localhost:8080

# enable or disable Google OAuth
# when true, OAUTH_GOOGLE_CLIENT_ID and OAUTH_GOOGLE_CLIENT_SECRET must be set
ENABLE_OAUTH_GOOGLE=false

# OAUTH_GOOGLE_CLIENT_ID=
# OAUTH_GOOGLE_CLIENT_SECRET=

# production: OAUTH_GOOGLE_CALLBACK_URI=https://quizfreely.org/api/oauth/google/callback
# development: OAUTH_GOOGLE_CALLBACK_URI=http://localhost:8080/api/oauth/google/callback
OAUTH_GOOGLE_CALLBACK_URI=http://localhost:8080/api/oauth/google/callback

# production: OAUTH_REDIRECT_URL=https://quizfreely.org/sign-in
# development: OAUTH_REDIRECT_URL=http://localhost:8080/sign-in
OAUTH_REDIRECT_URL=http://localhost:8080/sign-in
